body {
    padding: 0;
    margin: 0;
}

button {
    background: none;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

.app {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    .board-row {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #000;

        &:last-child {
            border-bottom: none;
        }

        .square {
            width: 80px;
            height: 80px;
            border-right: 2px solid #000;
            font-size: 2.5rem;
            padding: 0;
            overflow: hidden;
            transition: all 0.2s;

            &:last-child {
                border-right: none;
            }
        }
    }
}

.nameBoardDiv{
    width:100vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nameBoard{
    padding: 10px 20px;
    border-radius: 10px;
    color: orange;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: larger;
}

.message{
    height: 10vh;
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.resetBtnDiv{
    height:10vh;
    display: flex;
    align-items: center;
}

.resetBtn{
    border: 2px solid black;
    font-family: -webkit-body;
    font-size: large;
    padding: 5px 27px;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}